



.search-bar {
	padding: 8px 10px;
	height: 28px;
	font-size: 14px;
	overflow: hidden;
	background-color: #f2f2f2;
	border: solid 1px #e4e4e4;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
}
